flows (4).json
[{"id":"7af053e.90ed82c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"acc89b42.9948f","type":"watson-conversation-v1","z":"7af053e.90ed82c","name":"panedemic","workspaceid":"ad2a2269-347e-4ccb-9cf4-94183f77349b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":380,"y":160,"wires":[["1de6f9a0.295c66"]]},{"id":"17c8a1b0.39b96e","type":"inject","z":"7af053e.90ed82c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HELLO","payloadType":"str","x":140,"y":160,"wires":[["acc89b42.9948f"]]},{"id":"2cea5d59.fec48a","type":"ui_form","z":"7af053e.90ed82c","name":"","label":"","group":"142df4f3.b1946b","order":0,"width":0,"height":0,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":260,"wires":[["1e303b0f.0780bd"]]},{"id":"1e303b0f.0780bd","type":"function","z":"7af053e.90ed82c","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":260,"wires":[["acc89b42.9948f","cbc5ff2c.097d18"]]},{"id":"cbc5ff2c.097d18","type":"ui_text","z":"7af053e.90ed82c","group":"142df4f3.b1946b","order":1,"width":"4","height":"2","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":360,"wires":[]},{"id":"b6ee9678.7ae108","type":"function","z":"7af053e.90ed82c","name":"Parser","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.generic[0].options;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.generic[0].options[i].label\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":80,"wires":[["b90f7459.7274f8","9bf6419.c8d05c"]]},{"id":"b90f7459.7274f8","type":"debug","z":"7af053e.90ed82c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":240,"wires":[]},{"id":"9bf6419.c8d05c","type":"ui_text","z":"7af053e.90ed82c","group":"142df4f3.b1946b","order":2,"width":"4","height":"4","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"61a9fa23.6966c4","type":"function","z":"7af053e.90ed82c","name":"","func":"var p=\"\"\nvar z=\"\"\nvar ut=msg.payload.output.text;\n//msg.payload=ut.length\nfor (i=0;i<ut.length;i++)\n{\np=msg.payload.output.text[i]\nz=z.concat(p,\" ,\")\n}\nmsg.payload=z\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":180,"wires":[["b90f7459.7274f8","9bf6419.c8d05c"]]},{"id":"1de6f9a0.295c66","type":"switch","z":"7af053e.90ed82c","name":"","property":"payload.output.generic[0].response_type","propertyType":"msg","rules":[{"t":"eq","v":"option","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":180,"wires":[["b6ee9678.7ae108"],["61a9fa23.6966c4"]]},{"id":"142df4f3.b1946b","type":"ui_group","z":"","name":"panedemic","tab":"e45fbf0d.ef25d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e45fbf0d.ef25d8","type":"ui_tab","z":"","name":"Panedemic","icon":"panedemic","disabled":false,"hidden":false}]